<!-- Links -->
<div class="w-11/12 md:w-[345px] mx-auto">
  <div class="px-4 flex space-x-2">
    <div class="flex-shrink-0">
      <img src="assets/iphone.png" style="height: 120px" />
    </div>
    <div class="grid place-content-center">
      <p class="text-sm sm:text-base font-bold text-white">
        Here is your chance to win an iPhone 14 and more
      </p>
    </div>
  </div>
  <div class="p-4 bg-white rounded-md">
    <label class="text-center block">Choose and unblock you gifts 🎁</label>
    <label class="text-center block font-bold">00:{{ interval }}</label>
    <div class="grid grid-cols-2 place-items-center">
      <a class="circle-link cursor-pointer" *ngFor="let g of gifts" title="Find a Local Meetup"
        (click)="open(content, g)">
        <img src="assets/gift.png" style="height: 90px; width: 100px" />
      </a>
    </div>
  </div>
  <p class="text-white underline text-sm text-center mt-2 cursor-pointer" (click)="openTerm(content3)">
    Terms And Condition
  </p>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body flex flex-col space-y-2" (click)="d('Cross click')">
    <img class="mx-auto block h-32 w-32" [src]="stickerUrl" />
    <p class="text-center text-2xl font-semibold">Hurray!</p>
    <p class="text-center font-medium">You have won a holidy card</p>
    <p class="text-center">Share this to 5 groups/ 20 friends on</p>
    <p class="text-center">WhatsApp to enter the contest</p>
    <!-- <a (click)="share('https://web.whatsapp.com/send?text=www.google.com', content2)"
      data-text="Take a look at this awesome website:"
      class="cursor-pointer bg-green-500 font-bold text-white rounded-full mb-2 p-3 !px-8 text-sm flex mx-auto w-max">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-6 h-6">
        <path fill="currentColor"
          d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z" />
      </svg>
      &nbsp;&nbsp;Share on WhatsApp
    </a> -->

    <a (click)="share('whatsapp://send?text=www.google.com', content2)" data-text="Take a look at this awesome website:"
      class="cursor-pointer bg-green-500 font-bold text-white rounded-full mb-2 p-3 !px-8 text-sm flex mx-auto w-max">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-6 h-6">
        <path fill="currentColor"
          d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z" />
      </svg>
      &nbsp;&nbsp;Share on WhatsApp
    </a>
  </div>
</ng-template>

<ng-template #content2 let-e="close" let-f="dismiss">
  <!-- <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="f('Cross click')">
      <img src="assets/close.png" alt="" />
    </button>
  </div> -->
  <div class="modal-body" (click)="f('Cross click')">
    <p class="text-sm text-center mb-2">
      Come back tomorrow to open
    </p>
    <p class="text-sm text-center mb-2">
      more gifts and win
    </p>
    <p class="text-center text-xl font-bold text-red-700">
      {{ upcomingShareTime }}
    </p>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="e('Save click')">Close</button>
  </div> -->
</ng-template>

<ng-template #content3 let-g="close" let-h="dismiss">
  <div class="modal-body" (click)="h('Cross click')">
    <h4 class="text-xl font-medium text-center mb-2">Terms & Condition</h4>
    <ul>
      <li>1. Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>2. Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>3. Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>4. Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>5. Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>6. Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
    </ul>
  </div>
</ng-template>