/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* background-image: url("src/assets/background.png"); */
  /* background-color: rgba(255, 17, 17, 0); */
}
.modal-content {
  margin-top: 170px !important;
}
